.create {
    background-color: rgb(242, 245, 249);
    height: 100%;
    padding: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.save {
    margin-right: 10px;
}

.wrapper {
    margin-top: 20px;
    padding: 20px 0px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.body {
    width: 60%;
}

.urlWrapper {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.back {
    display: flex;
    align-items: center;
}

.backIcon {
    margin-right: 5px;
    font-size: 12px;
    color: grey;
    cursor: pointer;
}

.codeWrapper {
    margin-top: 20px;
    display: flex;
}

.codeArea {
    width: 60%;
    margin-right: 20px;
}

.codeRun {
    padding: 20px;
    background-color: #fff;
    width: 100%;
}

.queryInput {
    margin: 20px 0;
}

.output {
    margin-top: 20px;
    padding: 20px;
    background-color: grey;
    height: 40%;
}

.editableWrap {
    padding: 5px 12px;
    cursor: pointer;
}

.editableRow:hover .editableWrap {
    padding: 4px 11px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}
