.systemInfoCard {
    width: 100%;
    background: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid #E6E7EB;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    height: 231px;
    overflow: hidden;

    &:hover {
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
        transform: translateY(-2px);
    }
}

.cardContent {
    display: flex;
    padding: 20px 24px;
    gap: 24px;
    min-height: 200px;
}

.leftContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cardHeader {
    display: flex;
    // justify-content: space-between;
    align-items: center;
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 30px;
}

.version {
    font-size: 18px;
    font-weight: 700;
    color: #216EFF;
    line-height: 24px;
}

.title {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    line-height: 24px;
}

.date {
    font-size: 12px;
    color: #666666;
    line-height: 20px;
}

.contentList {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex: 1;
    max-height: 170px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none !important;
        width: 0 !important;
        height: 0 !important;
    }

    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
}

.contentItem {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.bullet {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #CCCCCC;
    margin-top: 7px;
    flex-shrink: 0;
}

.contentText {
    font-size: 14px;
    color: #666666;
    line-height: 24px;
    flex: 1;
}

.rightContent {
    width: 200px;
    min-width: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
    flex-shrink: 0;
}