.mpcManage {

}

.mpcManage-show-info {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
}

    .mpcManage-segmented {

        & .ant-segmented-group {

            .ant-segmented-item {
                border-radius: 16px !important;
                color: #888888;
                background-color: #E9EBF1;
            }

            .ant-segmented-item-selected {
                background-color: rgba(33, 110, 255, 0.16);
                color: #216EFF;
            }
        }
    }