.modalGlobal {
    :global {
        .ant-modal-content {
            padding: 0;

            .ant-modal-close {
                width: 18px;
                height: 18px;
                top: 11px;
                right: 24px;
            }

            .ant-modal-header {
                height: 40px;
                padding: 8px 24px;
                background-color: #F0F3FA;
                margin-bottom: 0px;
            }

            .ant-modal-body {
                padding: 24px;
                padding-bottom: 0;
            }

            .ant-modal-footer {
                margin-top: 0;
                padding: 9px 24px;
                border-top: 1px solid #EDEDED;
            }
        }
    }
}

.hoverCss {
    cursor: pointer;

    &:hover {
        transition: all 0.6s ease;
        box-shadow: 0 6px 16px -8px #00000014, 0 9px 28px #0000000d, 0 12px 48px 16px #00000008;
    }
}

.overflowText {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
}

// .cardHover:hover {
//     box-shadow: 0 6px 16px -8px #00000014, 0 9px 28px #0000000d, 0 12px 48px 16px #00000008;
// }
.on {
    background: #1B66FF;
    ;
}

.onn {
    background: #1B66FF;
    ;
}

.typeCard_desc_2 {
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}