.tableBox {
  border-radius: 3px;
}

.table td {
  padding: 0px 5px;
}

.table thead td {
  height: 33px;
  line-height: 33px;
}

.table tbody tr:last-child td {
  border-bottom: none;
}

.configVarAddIcon {
  width: 16px;
  height: 16px;
  padding-bottom: 2px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border-radius: 16px;
  background-color: rgb(21 94 239);
  display: flex;
  justify-content: center;
  align-items: center
}