:root {
    --light-gray: rgb(241, 245, 249);
}

.backIcon {
    margin-top: 5px;
    margin-right: 5px;
    font-size: 12px;
    color: grey;
    cursor: pointer;
}

.pagination {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.modalHeader {
    display: flex;
    margin: 10px 0 20px;
}

.tag {
    margin-left: 10px;
}

.modalBody {
    border: 1px solid var(--light-gray);
    border-radius: 10px;
}

.bodyTitle {
    background-color: var(--light-gray);
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
}

.appName,
.appType,
.appDesc,
.appReason {
    padding: 15px;
}

.modalFooter,
.driction {
    margin-top: 20px;
}
