.analysis {
    width: 100%;
    height: 100%;
    margin: 8px 16px;
    padding: 0 16px;
}

.monitor {
    width: 100%;
    height: 100%;

    .monitor-echarts {
        display: flex;
        flex-direction: row;

        .monitor-talk {
            width: 50%;
            margin-right: 16px;
            height: 300px;
        }
    
        .monitor-action {
            width: 50%;
            margin-left: 16px;
            height: 300px;
        }
    }
}

.monitor-headMod {
    width: 100%;
    max-height: 260px;
    display:  flex;
    height: 120px;
    margin: 0 4px;
    padding: 8px 4px;
    flex-direction: row;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 4px;

    .monitor-headMod-image {
        width: 50%;
        margin-right: 4px;
    }

    .monitor-headMod-text {
        width: 50%;
        margin-left: 4px;
        padding-left: 60px;

        .monitor-headMod-text-name {
            font-weight: 700;
        }

        .monitor-headMod-text-num {
            color: #1677ff;
        }
    }
}

