.actionBtn{
  background: rgba(0,0,0,0.04);
  width: 50px;
  padding: 5px 0;
  text-align: center;
  color: #aaa;
  width: 110px;
  border-radius: 3px;
  font-size: 11px;
  cursor: pointer;
}

.actionBtnIcon{
  margin-right: 5px;
}