.modalBody {
  border: 1px solid #eee;
  border-radius: 3px;
  margin-top: 24px;
}

.modalRow {
  display: flex;
  border-bottom: 1px solid #eee;
  color: #757575;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
}

.modalLabel {
  background: #fcfcfd;
  color: #8c8c8c;
  text-align: right;
  width: 120px;
  padding-right: 12px;
  border-right: 1px solid #eee;
}

.modalValue {
  padding-left: 12px;
}